.home_sec4_p1_filters {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
  padding: 0 20px;
  margin-bottom: 30px;
}
 

.home_sec4_p1_filter_btn {
  background-color: #FFFCF6;
  /* light background */
  color: #1a1a1a;
  /* dark text */
  border: none;
  border-radius: 10px;
  padding: 10px 18px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  min-width: 140px;
  justify-content: center;
  min-width: 140px;
   
}

.home_sec4_p1_filter_btn:hover {
  background-color: #f0e8dc;
  color: #000;
}

.home_sec4_p1_filter_btn.active {
  background-color: #BA8C4E;
  /* gold brown */
  color: #FFFFFF;
}

.home_sec4_p1_filter_btn.active:hover {
  background-color: #d4a574;
  color: #fff;
}

.home_sec4_p1_filter_icon img {
  width: 30px;
  height: 30px;
  filter: brightness(0) saturate(100%);
  transition: filter 0.2s;
}

/* white icon when active */
.home_sec4_p1_filter_btn.active .home_sec4_p1_filter_icon img {
  filter: brightness(0) invert(1);
}



 
.home_sec4_p1_match_card {
  background: #5a5a5a;
  border-radius: 12px;
  border: 1px solid #d4a574;
  /* GOLDEN BORDER */
  overflow: hidden;
  padding: 20px;
}

 
.home_sec4_p1_match_header {
  /* border-bottom: 1px solid #d4a574; */
  padding: 12px 16px;
}

 
.home_sec4_p1_team_logo {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
}


.home_sec4_p1_team_name {
  color: #EBC76E;
  font-size: 18px;
  margin-bottom: 2px;
  font-weight: 600;
}

.home_sec4_p1_league_name {
  color: #999;
  font-size: 12px;
}

.home_sec4_p1_match_time {
  color: #ccc;
  font-size: 14px;
}

 
.home_sec4_p1_opponent {
  color: #ccc;
  font-size: 13px;
  padding: 4px 16px;
  /* border-bottom: 1px solid #d4a574; */
}

 
.home_sec4_p1_odds_section {
  /* height: 100px; */
  display: flex;
}

.home_sec4_p1_odds_box {
  flex: 1;
  background-color: #606060;
  /* soft dark */
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 6px;
  margin: 8px;
  position: relative;
}

.home_sec4_p1_over_box {
  margin-right: 4px;
  border: 1px solid #F9F9F9;
  padding: 15px;
}

.home_sec4_p1_under_box {
  margin-left: 4px;
  border: 1px solid #F9F9F9;
}

.home_sec4_p1_odds_box:hover {
  background-color: #707070;
}

 
.home_sec4_p1_odds_label {
  position: absolute;
  top: 10px;
  left: 14px;
  font-size: 11px;
  font-weight: 600;
  color: #fff;
}

.home_sec4_p1_odds_trend {
  position: absolute;
  top: 10px;
  right: 14px;
}

.home_sec4_p1_odds_value {
  font-size: 16px;
  color: #fff;
  margin-top: 31px;
}

.home_sec4_p1_odds_rate {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}


.home_sec4_p1_no_matches {
  font-size: 16px;
}


/* Mobile Devices (up to 767px) */
@media (max-width: 767px) {
  .home_sec4_p1_filters {
    flex-wrap: wrap;
    justify-content: center;
  }

  .home_sec4_p1_filter_btn {
    padding: 8px 21.4px;
    

  }

  .home_sec4_p1_odds_section{
    flex-direction: column;
  }

  .home_sec4_p1_match_card{
    padding: 20px 15px;
  }

  .home_sec4_p1_odds_section{
    height: unset;
  }

  .home_sec4_p1_odds_value{

    margin-top: 54px;

  }

  .home_sec4_p1_over_box{
    margin-right: unset;
  }

  .home_sec4_p1_under_box{
    padding: 15px;
  }

}