.custom-navbar {
  background-color: #1A1A1A;
  height: 80px;
}

.logo-text {
  font-weight: 700;
  font-size: 24px;
  color: white;
}

.text-gold {
  color: #d4af37;
}

.navbar-nav .nav-link {
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  color: #d4af37;
}
/* 
.btn-gold { 
  background: linear-gradient(90deg, #EBC76E, #BA8C4E, #d4af37);

  color: #000;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
    transition: all 0.3s ease; 
}

.btn-gold:hover {
  background: transparent;
  color: #FFFFFF;
  border-color: #EBC76E;
  border: 1px solid #EBC76E;

  

} */

.btn-gold {
  background: linear-gradient(90deg, #EBC76E, #BA8C4E, #d4af37);
  color: #000;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  /* transition: all 0.3s ease;  */
}

.btn-gold:hover {
  background: transparent;
  color: #FFFFFF;
  border: 1px solid #EBC76E;
}




.home_nav_mx{
  margin-inline:300px;
}

