/* Container */
.home_sec6_p3_container {
  background-color: #2b2a2a;
  margin-top: 40px;
  border-radius: 5px;
}

/* Sidebar */
.home_sec6_p3_sidebar {
  background-color: #c9a646;
  padding: 20px 0px;
  
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.home_sec6_p3_sidebar_title {
  color: #423a12;
  font-weight: 600;
  margin-left: 12px;
  font-size: 24px;
}

.home_sec6_p3_sidebar_divider {
  border-color: #fff;
}

.home_sec6_p3_menu_item {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 15px;
  font-weight: 500;
}

.home_sec6_p3_menu_item:hover {
  background-color: #3c3b3b;
  color: #fff;
}

.home_sec6_p3_menu_item.active {
  background-color: #ebc76e !important;
  color: #000 !important;
  border-left: 4px solid black;
}

.home_sec6_p3_arrow {
  font-weight: bold;
  font-size: 18px;
}

/* Main Content */
.home_sec6_p3_main {
  padding: 20px;
}

.home_sec6_p3_heading {
  color: #ebc76e;
  font-weight: 700;
  margin-bottom: 10px;
}

.home_sec6_p3_description {
  color: #f0f0f0;
  margin-bottom: 25px;
  font-size: 1rem;
}

/* Card with List */
.home_sec6_p3_card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;
}

.home_sec6_p3_card_title {
  color: #c9a646;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.home_sec6_p3_list {
  list-style: none;
  padding-left: 0;
}

.home_sec6_p3_list li {
  margin-bottom: 10px;
  padding-left: 25px;
  position: relative;
  color: #333;
  font-weight: 500;
}

.home_sec6_p3_list li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #c9a646;
  font-weight: bold;
}

/* Top Headings */
.home_sec6_p3_title {
  color: #ebc76e;
  font-size: 40px;
  text-align: center;
}

.home_sec6_p3_p {
  font-size: 1rem;
  color: #fff3d5;
  text-align: center;
}



.home_sec6_p3_shadow-left .card-body{
  padding: 0px;
}